.content-body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

article 
{
    padding: 15px;
    width: 50%;
}

article h3 {
    padding: 15px 0px 15px 0px;
}
