<div class="content-body">
    <div>
        <h3>Arbetslivserfarenheter</h3>
    </div>
    <div>
        @for (e of experiences; track $index) {
            <app-experience-article [experience]="e"></app-experience-article>
        }
    </div>
        
    <div class="hidden" appScrollAnimation style="display:flex; align-items: center;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WAL6gTMo5DA?si=7jyYhqX2VYYzz3nH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
