.env
secret.key

# .NET
bin/
obj/
*.user
*.suo
.vs/
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
.dockerignore
