/* You can add global styles to this file, and also import other style files */

/*
rgb(240, 240, 240)
rgb(33, 53, 85)
rgb(79, 112, 156)
rgb(229, 210, 131)
*/

:root {

  --primary-color: #222831;
  --second-color: #393E46;
  --third-color: #00ADB5;
  --forth-color: #EEEEEE;
}

@font-face {
    font-family: 'FiraMono-Regular';
    src: url('./assets/FiraMono-Regular.ttf');
  }


body {
    font-family: 'FiraMono-Regular', sans-serif;
    background-color: var(--second-color);
    color: var(--forth-color);
    font-size: 12px;
}

hr 
{
  background-color: rgb(240, 240, 240);
}

.hidden {
  opacity: 0;
  filter: blur(10px);
  /* transform: translateX(-60%);   */
  transition: all 1s;
  animation-iteration-count: 1;
}

.visible 
{
  opacity: 1;
  filter: blur(0);
  /* transform: translateX(0); */
  animation-iteration-count: 1;
}


@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}