nav {
    width: 100%;
    background-color: var(--primary-color);
    height: 100px;
    text-align: center;
    margin: 0 auto;
  }
  
  ul {
    height: 100%;
    padding: 0; 
    margin: 0;
    display: inline-block;
  }

  ul > li {
    height: 100%; 
  }
  
  li {
    display: inline-block;
  }
  
  li:hover {
  }

  li:hover a {
    animation: colorChange 0.6s ease;
    color: var(--third-color);
  }
  
  .is-active {
    color: var(--third-color);
  }
  
  a {
    color: var(--forth-color);
    text-decoration: none;
    display: flex; 
    height: 100%; 
    font-size: large;
    padding: 0px 10px; 
    justify-content: center; 
    align-items: center; 
  }

  .hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
  }
  
  
  @keyframes colorChange {
    0% { color: var(--forth-color); }
    100% { color: var(--third-color); }
  }

  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
  
    .nav-links {
      width: 100%;
      height: auto;
      position: absolute;
      flex-direction: column;
      clip: rect(0 0 0 0);
    }
  
    .nav-links li {
      width: 100%;
    }
  }