@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('~/assets/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('~/assets/fonts/Roboto/RobotoSlab-Thin.ttf');
}


body {
    @apply bg-color2 text-color4;
    /* font-family: 'Orkney'; */
}

.nuxt-content h1, .nuxt-content h2, .nuxt-content h3 {
    @apply text-color4;
}

.nuxt-content p {
    @apply text-color4; /* Change the color of paragraphs */
}

.prose {
    @apply text-color4; /* Change the default color of prose */
}


.prose a {
    @apply text-color4; /* Change the color of links in prose */
}


.prose h1 {
    @apply text-color4; /* Change the color of links in prose */
}

.prose h2 {
    @apply text-color4; /* Change the color of links in prose */
}


.prose h3 {
    @apply text-color4; /* Change the color of links in prose */
}

.prose h4 {
    @apply text-color4; /* Change the color of links in prose */
}


.prose h5 {
    @apply text-color4; /* Change the color of links in prose */
}


.prose h6 {
    @apply text-crimson; /* Change the color of links in prose */
}