<div class="experience-content">
    <div class="article-header">
        <span>{{experience.company}} - {{experience.role}} - {{experience.dateFrom}} - {{experience.dateTo}}</span>
    </div>
    <small class="competence-small">
        @for (competence of experience.competences; track competence) {
            {{ competence }},
        } @empty {
            
        }
    </small>
    <div class="hidden" appScrollAnimation>
        <article [innerHTML]="renderedHtml"></article>
    </div>
</div>