@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* Import Bootstrap Icons */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css');

/* Importing Bootswatch Lux theme */
@import 'bootswatch/dist/lux/bootstrap.min.css';

/* Custom font override */
body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  margin: 0;
  min-height: 100vh;
}

html,
body,
app-root {
  min-height: 100vh;
  overflow: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1 0 auto;
}

router-outlet {
  display: none;
}

router-outlet ~ * {
  flex: 1;
}

.modal-dialog {
  box-shadow: none !important;
}

.modal-content {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/* Markdown image styling */
markdown img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 1rem 0;
}

/* ngx-scrollbar custom dark thumb and transparent track */
.dark-thumb {
  background: rgba(0, 0, 0, 0.2) !important; /* 50% transparent black */
  border-radius: 6px !important;
  width: 8px !important;
}

.dark-thumb:hover {
  background: rgba(0, 0, 0, 0.5) !important; /* slightly darker on hover */
}

.dark-track {
  background: transparent !important;
}
