
<div class="header">
</div>
<div class="header2">
    <div class="name">
        <h1>Vincent Karlsson</h1>
    </div>
</div>
<div class="content-body">
    <div class="content-body-left">
        
    </div>
    <div class="content-body-center">
        <article>
            <p style="font-style: italic;">"Problemlösare som strävar efter att alltid utvecklas och effektivisera arbetet med nya teknologier och strategier. Hälsa och lagarbete är för mig grunden till alla lösningar."</p>
            <p>
                Jag är en 30-årig kille som är född och uppvuxen i Dalarna med stort intresse för datorer och spel.
                På friden föredrar jag att träna, vandra i skogen och koda. 
              
            </p>
        </article>
    </div>
    <div class="content-body-right">
        <article>
            <app-skills></app-skills>
        </article>
    </div>
</div>
<div class="resume">
    <a href="assets/documents/CV.pdf" target="_blank">Ladda ner CV</a>
</div>