
<div class="header">
    <div class="name">
        <h1>Vincent Karlsson</h1>
    </div>
</div>
<div class="content-body">
    <div class="content-body-left">
        
    </div>
    <div class="content-body-center">
        <article>
            <img class="profilepic" src="assets/profile.png"/>
            <p>Problemlösare som strävar efter att alltid utvecklas och effektivisera arbetet med nya teknologier och strategier. Hälsa och lagarbete är för mig grunden till alla lösningar.</p>
        </article>
    </div>
    <div class="content-body-right">
       
        <article>
            <app-skills></app-skills>
        </article>
    </div>
</div>