
.content
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.header 
{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(1,1,1, 0.1);
}

.content-body
{
    height: 70%;
    max-width: 700px;
    padding: 25px;
}

article 
{
    padding: 15px;
}

article h3 {
    padding: 15px 0px 15px 0px;
}

.profilepic {
    width: 128px;
    height: auto;
    float: right;
    position: absolute;
    right: 10%;
    top: 10%;
}