
.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header 
{
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-body 
{
    display: flex;
    width: 100%;
}

.content-body-center
{
    width: 50%;
    padding: 25px;
}
.content-body-left
{
    width: 25%;
    align-items: center;
    display: flex;
}

.content-body-right
{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profilepic {
    margin: 40px;
    width: 128px;
    height: 128px;
}

.headeranim {
    width: 100%;
    animation: pulse 2s;
    animation-iteration-count: 1;
  }

  
  @keyframes pulse {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.4);
    }
    70% {
        box-shadow: 0px 3px 4px 6px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0px 3px 0px 0px rgba(255, 255, 255, 0);
    }
  }


.name span {
    --anim-color: #00c2ba;
    font-size: 60px;
    padding: 0 10px;
    text-transform: uppercase;
    color: #fff;
    animation: zoomup 2s;
    animation-iteration-count: 1;
  }

@keyframes zoomup {
    0% {
      filter:opacity(0);
    }
    100% {
      filter:opacity(1);
    }
  }