
.content
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.header 
{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(1,1,1, 0.1);
}

.content-body
{
    height: 70%;
    max-width: 700px;
    padding: 25px;
}

article 
{
    padding: 15px;
}

article h3 {
    padding: 15px 0px 15px 0px;
}

.profilepic {
    width: 128px;
    height: auto;
    float: right;
    position: absolute;
    right: 10%;
    top: 10%;
}

.name span {
    font-size: 60px;
    padding: 0 10px;
    text-transform: uppercase;
    color: #fff;
    animation: zoomup 2s linear infinite;
    animation-delay: calc(200ms * var(--i));
  }

@keyframes zoomup {
    0%,
    100% {
      color: #00c2ba;
      filter: blur(1px);
      text-shadow: 0 0 10px #00c2ba, 0 0 20px #00c2ba, 0 0 30px #00c2ba,
        0 0 40px #00c2ba, 0 0 60px #00c2ba, 0 0 80px #00c2ba, 0 0 100px #00c2ba,
        0 0 120px #00c2ba;
    }
  
    5%,
    95% {
      filter: blur(0);
      color: #fff;
      text-shadow: none;
    }
  }